header {
    
}

body {
    background-image:url("forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

img { 
    width: 80%;
    padding-left: 45px;

}

.dropbtn {
    background-color: green;
    color: white;
    padding: 15px; 
    font-size: 100%; 
    border: none; 
}

.dropbtn:hover, .dropbtn:focus {
    background-color: black; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px; 
    z-index: 1; 

}

.dropdown-content a {
    color: white; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
}

.dropdown a:hover {
    background-color:gray ; 
}

.show {
    display: block; 
}
ul { 
    list-style-type: none; 
    margin: 0px;
    padding: 15px;
    width: 100%;
    background-color: gray;
}

li {
    width: 100%;
    display: inline;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

li:hover {
    background-color: green;
}


.column {
        float: left;
        width: 33.33%;
        padding: 0px;
      }
      
    
.row:after {
        content: "";
        display: table;
        clear: both;
      }

    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
        }
    }

    h2 {
        padding: 10px;
    }

    p { 
        padding: 10px;
    }

    footer { 
        text-align: center;
        color: white; 
        font-size: 20px;
    }

       